*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-image:linear-gradient( blue, gray);
}
#body{
    padding: 3%;
}
#foto img{
    width: 200px;
    
    
}
#foto{
    width: 250px;
    height: 300px;
    
    border: 1px solid black;
    display: grid;
    place-items: center;
    background-image: linear-gradient(grey, white);
}
#presentacion{
    display: grid;
    place-items: center;
    color:white;
    font-weight: bolder;
    text-align: center;
    font-size: 110%;
    font-family: arial;
}
#presentacion h2{
    width: 400px;
}
#presentacion h4{
    width: 300px;
    border-top: 1px solid black;
}
footer{
    block-size: 15%;
    background-color: blue;
    padding: 1%;
    text-align: center;
    color: white;
    font-size: 120%;
}
#resumen{
    font-size: 150%;
    text-align: justify;
}
.display-6{
    color: white;
}
.row{
    justify-content: space-evenly;
}
#proyectos h4{
    color: white;
}
#icons i{
    margin-right: 10px;
}
#icons a{
    text-decoration: none;
    color: white;
}
#icons a:hover{
    color:gray;
}
.accordion-button img{
    width: 100%;
}
#cv a{
    font-size: 30px;
    font-family: Arial;
    color: violet;
}


